Pipfile
Pipfile.lock
*.pdf
*.json
*.txt
each_public_comment_pdf/
get_public_comment_improve.log

__pycache__/
data/
logs/
pdfminer.six/
node_modules/
junk/
venv/
plot/
audio/
video/
transcript/
model/
models/

deepspeech.pytorch/
outputs/

!street_list.json
!requirement.txt
